.paginaPedidos {
	
	margin-top: 40px;
	margin-bottom: 50px;

	table {
		width: 100%;

		th {
			text-align: left;
			font-weight: normal;
			padding: 10px 0 10px 10px;			
			background: $azul;
			color: #fff;

			&:nth-child(1) {
				width: 30%;
				border-radius: 10px 0 0 0;
			}

			&:nth-child(2) {
				width: 40%;
			}

			&:nth-child(3) {
				width: 30%;	
				border-radius: 0 10px 0 0;			
			}
		}

		tr {
			&:nth-child(even) {
				background: #eae8e8;
			}

			td {
				border: 1px solid #ddd;
				padding: 5px 0;

				&:nth-child(1) {
					padding-left: 10px;
				}

				&:nth-child(2) {
					line-height: 23px;
					padding-left: 10px;
				}

				&:nth-child(3) {	
					text-align: center;			

					img {
						width: 50%;
					}
				}
			}
		}		
	}
}