.paginaPedidos {
	
	margin-top: 20px;

	table {
		width: 100%;

		th {
			text-align: left;

			&:nth-child(1) {
				width: 30%;
			}

			&:nth-child(2) {
				width: 40%;
			}

			&:nth-child(3) {
				width: 30%;
			}
		}		
	}
}